	*{
		padding:0px;
		margin:0px;
	}
	li{
		list-style: none;
	}
	img{
		border:none;
	}
	a{
		text-decoration: none;
	}
	body{
		height:3000px;
	}
	.header{
		width:100%;
		height:105px;
		position:relative;
		background: white;
		/*top:0;*/
		z-index:999999999999999999;
	}
	.header-top{
		width:100%;
		height:56px;
		background:#25292e;
	}
	.header-content{
		width:1000px;
		height:56px;
		margin:0 auto;
	}
	.logo{
		width:95px;
		height:56px;
		background:url(../img/icon.png)no-repeat 0px 9px;
		float: left;
	}
	.logo a{
		line-height:56px;
		width:95px;
		height:56px;
		/*background:#878787;*/
		display:block;
		-webkit-transition: all.5s;
	}
	.logo a:hover{
		background:#25292e;
		opacity:0.3;
	}
	.header-top-nav{
		float:right;
	}
	.header-top-nav ul li{
		float: left;
		font:12px/56px "微软雅黑";
		position:relative;
		color:#666;
	}
	.header-top-nav ul li a{
		color:#666;
		/*渐变属性*/
		-webkit-transition: all.3s;
	}
	.li-1, .li-2, .li-3, .li-4{
		padding:0 15px;
	}
	/*.li-1 img{
		width:30px;
		position: relative;
		vertical-align:middle;
		margin-right:9px;
	}*/
	.header-top-nav ul .li-1 a{
		color: #CCC;
	}
	.li-4{
		padding-right:0;
	}
	.li-2:hover a{
		color:#ccc;
	}
	.li-3:hover a{
		color:#ccc;
	}
	.li-4:hover a{
		color:#ccc;
	}
	.li-2:hover .pull-down{
		display: block;
	}
	.pull-down{
		width:320px;
		height:120px;
		position: absolute;
		left:-130px;
	    top: 56px;
	    background: #292f34;
	    z-index: 1000;
	    font-size:14px;
	    text-align: center;
	    display: none;
	}
	.pull-down .a1{
		line-height:70px;
		width:320px;
		height:70px;
		display:block;
		color:#CCC;
	}
	.pull-down .a2{
		line-height:50px;
		width:320px;
		height:50px;
		display:block;
		background:#7dbfde;
		color:#e2dddd;
	}
	.pull-down .a2:hover{
		background:#a6d2e7;
		color:white;
	}
	.li-3 .pull-down-2 {
		position: absolute;
	    top: 56px;
	    background: #292f34;
	    z-index: 1000;
	    position: absolute;
    	left: -69px;
    	display:none;
	}
	.li-3:hover .pull-down-2{
		display:block;
	}
	.li-3 .pull-down-2 a{
	    display: block;
	    width: 160px;
	    height: 44px;
	    padding: 0 15px;
	    line-height: 44px;
	    background: #292f34;
	    cursor: pointer
	    color:#878787;	
	}
	.li-3 .pull-down-2 span{
	    display: inline-block;
	    width: 100%;
	    height: 43px;
	    line-height: 44px;
	    padding: 0;
	    border-bottom: 1px solid #3f4449;
	    color: #ccc;
	    font-size: 12px;
	    letter-spacing: 1.5px;
	}
	.li-3 .pull-down-2 a:hover{
		background:#25292ebf;
		opacity:0.6;
	}
	.bottom-content{
		width:1000px;
		height:45px;
		margin:0 auto;
		/*background:blueviolet;*/
		border-bottom: 4px solid #ededed;
	}
	.bottom-content>ul>li{
		width:121px;
		height:45px;
		margin-right: 43px;
		float:left;
		font:15px/45px "微软雅黑";
		text-align:center;
		border-bottom:4px solid transparent;
		cursor: pointer;
		color:#333333;
	}
	.bottom-content>ul>li:hover{
		border-bottom:4px solid #25292e;
	}
	.bottom-content-ul-li-a{
		position: relative;
	}
	.bottom-content .bottom-content-ul-li-1{
		width:118px;
		text-align: left;
		margin-right:0px;
	}
	.bottom-content .bottom-content-ul-li-la{
		margin-right: 0;
	}
	.bottom-content .bottom-content-ul-li-last{
		width:34px;
		margin-right: 0;
		float:right;
	}
	.bottom-content .bottom-content-ul-li-last:hover{
		border-bottom:4px solid transparent;
	}
	.bottom-content-ul-li-last a{
		display:block;
		width:34px;
		height:45px;
		background:url(../img/icon.png) 34px -144px;
		float:right;
		margin-right:13px;
	}
	.bottom-content-ul-li-ac{
		position:relative;
	}
	.active{
		width:1000px;
		height:auto;
		background: white;
		position:absolute;
		left:-282px;
		top:49px;
		padding: 21px 0 40px 0;
		display: none;
		/*-webkit-animation-delay: .25s, 100ms;*/
		z-index:1000;
	}
	.active-{
		left:-446px;
	}
	.active--{
		left:-118px;
		top:49px;
		/*background:black;*/
		/*opacity:0.5;*/
	}
	.active a{
		display:block;
		width:auto;
		height:32px;
		/*margin-right: 60px;*/
		float: left;
		font:12px/32px "微软雅黑";
		color:#878787;
	}
	.active>a{
		margin-right: 60px;
	}
	.bottom-content-ul-li-ac:hover .active{
		display: block;
	}
	.bottom-content-ul-li-a:hover .active{
		display: block;
	}
	
	
	
	.active-left{
		width:750px;
		height:auto;
		float:left;
		/*position:relative;*/
	}
	.active-left>ul{
		background: white;
	}
	.active-left>ul>li{
		background: white;
	}
	.ulu{
		width:749px;
		height:auto;
		position:relative;
		top:0;
		background:white;
	}
	.lil{
		width:42px;
		height:21px;
		padding-top:42px;
		/*position:absolute;*/
		font:14px/18px "微软雅黑";
		color:black;
		background:url(../img/23680.png)no-repeat;
		background-size:42px;
		float: left;
		padding-right: 65px;
		/*background: white;*/
		/*z-index:9999;*/
	}
	#fenlei{
		font:14px/18px "微软雅黑";
		display:block;
		width:28px;
		height:18px;
		margin-left: 7px;
		color:black;
		font-weight:bold;
	}
	.a-ctive{
		width:750px;
		height:auto;
		border-top:1px solid #c0c0c0;
		padding: 21px 0 2px 0;
		position:absolute;
		top:63px;
		left:0px;
		display:none;
		background:white;
		z-index:8888;
	}
	.ac-tive{
		top:126px;
	}
	.act-ive{
		top:189px;
	}
	.a-ctive>a{
		margin-right:59px;
	}
	.shangjiao{
	    position: absolute;
	    width: 6px;
	    height: 6px;
	    transform: rotate(45deg);
	    margin-top: 10px;
	    margin-left: 13px;
	    /*display: none;*/
	    float: none;
	    border-width: 1px 0px 0px 1px;
	    border-top-style: solid;
	    border-top-color: silver;
	    border-left-style: solid;
	    border-left-color: silver;
	    border-right-style: initial;
	    border-right-color: initial;
	    border-bottom-style: initial;
	    border-bottom-color: initial;
	    background: white;
	    left:0;
	    top:-14px;
	}
	.shangjiao2{
		left:110px;
	}
	.shangjiao3{
		left:220px;
	}
	.shangjiao4{
		left:320px;
	}
	.shangjiao5{
		left:430px;
	}
	.shangjiao6{
		left:540px;
	}
	.shangjiao7{
		left:650px;
	}
	.lil:hover .a-ctive{
		display:block;
		
	}
	.atm{
		width:100%;
		height:auto;
		padding-top:380px;
		background:white;
		/*position: absolute;*/
		/*margin-top:150px;*/
		
	}
	/*hover无法实现,只能用js实现*/
	/*.:hover .ulu-2{*/
		/*position:relative;*/
		/*top:300px;*/
	}
	/*.lil-1:hover .ulu-3{
		top:258px;
	}*/
	/*.lil:hover .ulu{
		border-bottom-color:darkgray;
	}*/
	
	
	.active-right{
		width:250px;
		height:auto;
		float:right;
	}
	.newSee{
		width:232px;
	}
	

	
	
	
	#big{
		width:1000px; 
		height:475px;
		margin:20px auto;
		position:relative;
		overflow:hidden;
	}
	#big ul{
		width:4000px; 
		position:absolute; 
		left:0; 
		top:0;
	}
	#big ul li{
		width:1000px; 
		height:475px;
		float:left; 
		position:relative;
	}
	.z, .y{
		width:130px;
		height:470px;
		/*background:red;*/
		position:absolute;
		display: none;
	}
	.z{
		left:0px;
		top:0px;
		background: url(../img/pre.png)no-repeat 40px 200px;
	}
	.y{
		left:870px;
		top:0px;
		background: url(../img/next.png)no-repeat 40px 200px;
	}
	
	.zuoyou{
		width:50px;
		height:50px;
		border-radius:50%;
		position:absolute;
		background:black;
		opacity:0;
		/*filter:alpha(opacity=0);*/
		left:40px;
		top:200px;
		cursor: pointer;
	}
	.you{
		left:908px;
	}
	.z:hover .zuo{
		opacity:0.5;
		/*filter:alpha(opacity=50);*/
	}
	.numBig{
		width:100%;
		height:4px;
	}
	.num{
		/*position:absolute;*/ 
		/*z-index:200;*/
		/*left: 50%;
    	top: 610px;*/
    	/*margin-left: -45px;*/
    	width:90px;
    	height:4px;
    	/*background:red;*/
    	cursor: pointer;
    	margin:0 auto;
	}
	/*.num:after{
		content:""; 
		display:block;
		clear:both;
	}*/
		.num span{
		width:20px; 
		height:4px; 
		background:#b3b3b3;
		float:left; 
		margin:0 5px; 
	}
		.num span.activecolor{
		background:#45494d;
	}
	#topBack{
		width:100px;
		height:100px;
		background:red;
		position:fixed;
		bottom:0;
		right:0;
		display:block;
	}